
<div class="card">
    
    <div class="container">
      <img class="imagen" src={{driver.fotoPiloto}} alt="Avatar" style="width:100%">
      <h2><b>{{driver.nombre}}</b></h2>
      
      <p>País: {{driver.pais}}</p>
      
      <p>Número de podios: {{driver.numPodios}}</p>
      <p>Número de puntos: {{driver.numPuntos}}</p>
      <p>Número de poles: {{driver.numPoles}}</p>
      <p>Posición en el mundial de pilotos: {{driver.posicion}}</p>
      <p class="escuderia">Escudería:</p>
      <p class="escuderiaCard">
        
        <img class="escuderiaImagen" src={{escuderia.escudo}} alt="Avatar" style="width:100%">
      </p>
      
    </div>
  </div>
